
# AppyPay Integration
APPYPAY_CLIENT_ID=
APPYPAY_CLIENT_SECRET=
APPYPAY_BASE_URL=https://gwy-api-tst.appypay.co.ao/v2.0
APPYPAY_TOKEN_URL=https://login.microsoftonline.com/appypaydev.onmicrosoft.com/oauth2/token
APPYPAY_WEBHOOK_SECRET=
APPYPAY_WEBHOOK_URL=
